<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zeel Automation</title>
    <link href="images/favicon.ico" rel="icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/tooltipster.min.css">
    <link rel="stylesheet" href="css/cubeportfolio.min.css">
    <link rel="stylesheet" href="css/revolution/navigation.css">
    <link rel="stylesheet" href="css/revolution/settings.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar-nav" data-bs-offset="75" class="offset-nav">

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="cssload-loader"></div>
    </div>
</div>
<!--PreLoader Ends-->



<!-- header -->
<header class="site-header" id="header">
    <nav class="navbar navbar-expand-lg transparent-bg static-nav">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo-transparent.png" alt="logo" class="logo-default">
                <img src="images/logo.png" alt="logo" class="logo-scrolled">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto ms-xl-auto me-xl-0">
                    <li class="nav-item">
                        <a class="nav-link active pagescroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll scrollupto" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#pricing">Our Pricing</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#blog">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#portfolio">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--side menu open button-->
        <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
            <span></span> <span></span> <span></span>
        </a>
    </nav>
    <!-- side menu -->
    <div class="side-menu opacity-0 gradient-bg">
        <div class="overlay"></div>
        <div class="inner-wrapper">
            <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
            <nav class="side-nav w-100">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link  pagescroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll scrollupto" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#pricing">Our Pricing</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#blog">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#portfolio">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#contact">Contact Us</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/automations" class="button gradient-btn">Free Automation Audit </a>
    
                    </li>
                </ul>
            </nav>
            <div class="side-footer w-100">
                <ul class="social-icons-simple white top40">
                    <li><a href="javascript:void(0)" class="facebook"><i class="bi-facebook"></i> </a> </li>
                    <li><a href="javascript:void(0)" class="twitter"><i class="bi-twitter"></i> </a> </li>
                    <li><a href="javascript:void(0)" class="insta"><i class="bi-instagram"></i> </a> </li>
                </ul>
                <p class="whitecolor">&copy; <span id="year"></span> Zeel AI Automation Agency</p>
            </div>
        </div>
    </div>
    <div id="close_side_menu" class="tooltip"></div>
    <!-- End side menu -->
</header>
<!-- header -->



<!--Main Slider-->
<section id="home" class="position-relative">
    <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark" data-alias="classic4export" data-source="gallery">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="rev_main" class="rev_slider fullwidthabanner white" data-version="5.4.1">
            <ul>
                <!-- SLIDE 1 -->
                <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="01">
                    <!-- MAIN IMAGE -->
                    <img src="images/banner1-4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="overlay overlay-dark opacity-6"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Automate  </h1>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-bold whitecolor text-center"> Your Business</h1>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1500"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">                   
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZRYzHPD-w-Yh5O4QvxEWtX6QMxy-EcjiCF_AjD5O8Sr0cZg/viewform?usp=header" target="_blank" class="button gradient-btn mb-sm-0 mb-4"> Get a Free Automation Audit <i class="bi-arrow-right"></i></a>

                        </h1>
                        
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="2000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h4 class="whitecolor font-xlight text-center">                    <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdZRYzHPD-w-Yh5O4QvxEWtX6QMxy-EcjiCF_AjD5O8Sr0cZg/viewform?usp=header" target="_blank">Start your free trial <i class="bi-arrow-right"></i></a>
                        </h4>
                    </div>
                </li>
                <!-- SLIDE 2 -->
                <li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="02">
                    <!-- MAIN IMAGE -->
                    <img src="images/banner1-5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="overlay overlay-dark opacity-6"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Scale with </h1>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-bold whitecolor text-center">AI-Powered Lead </h1>
                    </div>


                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1500"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Generation</h1>
                    </div>
                </li>
                <!-- SLIDE 3 -->
                <li data-index="rs-03" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="03">
                    <!-- MAIN IMAGE -->
                    <img src="images/banner1-6.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="overlay overlay-dark opacity-7"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Power Up Your </h1>
                    </div>



                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-bold whitecolor text-center">Online Presence with</h1>
                    </div>


                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1500"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">SEO-Optimized Websites</h1>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="social-icons-simple revicon white">
        <li class="d-table"><a href="javascript:void(0)" class="facebook"><i class="bi-facebook"></i></a> </li>
        <li class="d-table"><a href="javascript:void(0)" class="twitter"><i class="bi-twitter"></i> </a> </li>
        <li class="d-table"><a href="javascript:void(0)" class="linkedin"><i class="bi-linkedin"></i> </a> </li>
    </ul>
</section>
<!--Main Slider ends -->



<!--Some Services-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="services-slider" class="owl-carousel">
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="bi-gear"></i></span>
                        <h4 class="bottom10 text-nowrap"><a data-bs-toggle="modal" data-bs-target="#salesservices">Sales & Marketing Automation</a></h4>
                        <p>Convert more leads and close more deals with AI-powered automation.</p> 
                    <a class="button" data-bs-toggle="modal" data-bs-target="#salesservices">Choose service <i class="bi-arrow-right"></i></a>

                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="bi-laptop"></i></span>
                        <h4 class="bottom10"><a data-bs-toggle="modal" data-bs-target="#outreachservices">Outreach & Social Media Growth</a></h4>
                        <p>Expand your reach with AI-driven content & automated outreach.</p>
                    <a class="button" data-bs-toggle="modal" data-bs-target="#outreachservices">Choose service <i class="bi-arrow-right"></i></a>

                    </div>
                </div>
               
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="bi-globe"></i></span>
                        <h4 class="bottom10"><a data-bs-toggle="modal" data-bs-target="#websiteservices">Website & SEO Service</a></h4>
                        <p>Build a strong online presence with high-converting websites & SEO</p>
                    <a class="button" data-bs-toggle="modal" data-bs-target="#websiteservices">Choose service <i class="bi-arrow-right"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Some Services ends-->



<!--Some Feature -->
<section id="about" class="single-feature padding mt-n5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-7 text-sm-start text-center wow fadeInLeft" data-wow-delay="300ms">
                <div class="heading-title mb-4">
                    <h2 class="darkcolor font-normal bottom30">Lets take your <span class="defaultcolor">Business</span> to Next Level</h2>
                </div>
                <p class="bottom35">At Zeel, we specialize in AI-powered automation and lead generation solutions that help businesses scale 
                    effortlessly. Our mission is to eliminate manual work, optimize efficiency, and drive growth through intelligent automations. 
                    Whether you're looking to generate high-quality leads, streamline customer interactions, or fully automate your workflows, 
                    we provide tailored solutions that deliver real results. Message our assistant on the bottom left corner to learn more or click 
                    on the button below to get a free automation audit for your business.</p>

                    <a href="#" class="button gradient-btn mb-sm-0 mb-4">Chat with us <i class="bi-arrow-right"></i></a>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                <div class="image"><img alt="SEO" src="images/awesome-feature.png"></div>
            </div>
        </div>
    </div>
</section>
<!--Some Feature ends-->


<!--Functions -->
<section id="our-apps" class="padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-12">
                <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor text-center text-md-start">Services Section</span>
                    <h2 class="darkcolor font-normal text-center text-md-start">Different Automations</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12">
                <p class="text-center text-md-start"> </p>
            </div>
        </div>
        <div class="row d-flex align-items-center" id="app-feature">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-center text-md-end">
                    <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="icon"><i class="bi-search"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Lead Generation Automation</span>
                            </h3>
                            <p>Generate Leads 24/7. 
                                <br>High-Quality Prospects. 
                                <br>Seamless CRM Integration. 
                                <br>Boost Conversion Rates.
                            </p>

                        </div>
                    </div>
                    <div class="feature-item mt-5 wow fadeInLeft" data-wow-delay="350ms">
                        <div class="icon"><i class="bi-robot"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">AI Chatbots & Customer Support Automation</span>
                            </h3>
                            <p> Instant Customer Engagement.
                                <br> Reduce Support Costs.
                                <br> 24/7 Availability.
                                <br> Seamless Integration.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="app-image top30">
                    <div class="app-slider-lock-btn"></div>
                    <div class="app-slider-lock">
                        <img src="images/iphone-slide-lock.jpg" alt="">
                    </div>
                    <div id="app-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="images/iphone-slide1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="images/iphone-slide2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="images/iphone-slide3.jpg" alt="">
                        </div>
                    </div>
                    <img src="images/iphone.png" alt="image" >
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-center text-md-start">
                    <div class="feature-item mt-3 wow fadeInRight" data-wow-delay="300ms">
                        <div class="icon"><i class="bi-gear"></i></div>
                        <div class="text">
                            <h3  class="bottom15">
                                <span class="d-inline-block">Custom Web Apps for Workflow Automation</span>
                            </h3>
                            <p>Automate Repetitive Tasks.
                                <br> Tailored to Your Business.
                                <br> Boost Team Productivity.
                                <br> Integrate with Any Tool.</p>
                        </div>
                    </div>
                    <div class="feature-item mt-5 wow fadeInRight" data-wow-delay="350ms">
                        <div class="icon"><i class="bi-envelope-arrow-up"></i></div>
                        <div class="text">
                            <h3  class="bottom15">
                                <span class="d-inline-block">Email & LinkedIn Outreach Automation </span>
                            </h3>
                            <p>Personalized Outreach at Scale.
                                <br> AI-Driven Follow-Ups.
                                <br> Higher Response Rates.
                                <br> Track & Optimize.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Functions end -->



<!-- Work Process-->
<section id="our-process" class="padding bgdark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span>Zeel's </span>
                    <h2 class="font-normal"> Work Process </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="process-wrapp">
                <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                    <span class="pro-step bottom20">01</span>
                    <p class="fontbold bottom20">Discovery Call</p>
                    <p class="mt-n2 mt-sm-0">Understand how Ai automation can help your business.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                    <span class="pro-step bottom20">02</span>
                    <p class="fontbold bottom20">Custom Strategy & Demo</p>
                    <p class="mt-n2 mt-sm-0">Provide a live demo tailored to your needs.</p>
                </li>
                <li class="whitecolor wow fadeIn active" data-wow-delay="500ms">
                    <span class="pro-step bottom20">03</span>
                    <p class="fontbold bottom20">Development & Implementation</p>
                    <p class="mt-n2 mt-sm-0">Build and integrate into your business.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                    <span class="pro-step bottom20">04</span>
                    <p class="fontbold bottom20">Testing & Optimization</p>
                    <p class="mt-n2 mt-sm-0">Fine-tune to ensure maximum efficiency and ROI.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                    <span class="pro-step bottom20">05</span>
                    <p class="fontbold bottom20">Launch & Scale</p>
                    <p class="mt-n2 mt-sm-0">Deploy the automation.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--Work Process ends-->




<!-- Pricing-->
<section class="bglight padding" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading-title darkcolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor">Affordable Growth Solutions for Your Business</span>
                    <h2 class="font-normal heading_space_half"> Pricing</h2>
                </div>
                <div class="col-md-6 offset-md-3 heading_space_half">
                    <p>Generate more leads, automate your workflows, and scale faster with AI-powered solutions. Choose a plan that fits your needs!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-item wow fadeInUp animated" data-wow-delay="300ms" data-sale="30">
                    <h3 class="font-light darkcolor">Starter Plan</h3>
                    <p class="bottom30">Basic lead Scraping with email automation.</p>
                    <div class="pricing-price darkcolor"><span class="pricing-currency">$100/month</span> </div>
                    <ul class="pricing-list">
                        <li>200 targeted leads/month</li>
                        <li>Basic LinkedIn & email outreach</li>
                        <li>Pre-built automation templates</li>

                    </ul>
                    <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdZRYzHPD-w-Yh5O4QvxEWtX6QMxy-EcjiCF_AjD5O8Sr0cZg/viewform?usp=header" target="_blank">Try 10 leads for FREE!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-item wow fadeInUp animated active selected" data-wow-delay="380ms">
                    <h3 class="font-light darkcolor">Growth Plan</h3>
                    <p class="bottom30">Full automation setup with Outreach</p>
                    <div class="pricing-price darkcolor"><span class="pricing-currency">$250/month</span></div>
                    <ul class="pricing-list">
                        <li>500 targeted leads/month </li>
                        <li>Advanced LinkedIn & email outreach</li>
                        <li>AI chatbot for lead capture</li>
                        <li>FREE SEO-optimized landing page</li>
                        
                    </ul>
                    <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdZRYzHPD-w-Yh5O4QvxEWtX6QMxy-EcjiCF_AjD5O8Sr0cZg/viewform?usp=header" target="_blank">20% off for the first 3 months!</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-item wow fadeInUp animated" data-wow-delay="460ms">
                    <h3 class="font-light darkcolor"> Enterprise Plan</h3>
                    <p class="bottom30">Custom AI solutions for large Businesses </p>
                    <div class="pricing-price darkcolor"><span class="pricing-currency">$500+/month  </div>
                    <ul class="pricing-list">
                        <li>1000+ leads/month</li>
                        <li>Multi-channel outreach (LinkedIn, email, cold calls)</li>
                        <li>Custom automation workflows</li>
                        <li>AI chatbot + full website integration</li>
                     </ul>
                    <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdZRYzHPD-w-Yh5O4QvxEWtX6QMxy-EcjiCF_AjD5O8Sr0cZg/viewform?usp=header" target="_blank">30-day money-back guarantee!</a>

                </div>
            </div>

        </div>
       
    
    </div>

</section>
<!--Pricing ends-->




<!--Services-->
<section class="bglight padding" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="heading-title darkcolor wow fadeInUp" data-wow-delay="100ms">
                    <span class="defaultcolor">Check Out Our</span>
                    <h2 class="font-normal darkcolor heading_space_half"> Services </h2>
                </div>
                <div class="col-md-6 offset-md-3 heading_space">
                    <p>Affordable solutions to generate leads, automate outreach, and grow your business—risk-free!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="news_item shadow wow fadeInUp" data-wow-delay="200ms">
                    <div class="blog-img">
                        <a class="image" data-bs-toggle="modal" data-bs-target="#websiteservices">
                            <img src="images/gallery-7.jpg" alt="Latest News" class="img-responsive">
                        </a>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a data-bs-toggle="modal" data-bs-target="#websiteservices">🌐Website & SEO Services</a></h3>
                       
                        <p>Build a strong online presence with high-converting websites & SEO</p>
                    </div>
                    <a class="button" data-bs-toggle="modal" data-bs-target="#websiteservices">Services <i class="bi-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="news_item shadow wow fadeInUp" data-wow-delay="200ms">
                    <div class="blog-img">
                        <a class="image" data-bs-toggle="modal" data-bs-target="#salesservices">
                            <img src="images/gallery-8.jpg" alt="Latest News" class="img-responsive">
                        </a>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a data-bs-toggle="modal" data-bs-target="#salesservices">🔗 Sales & Marketing Automation.</a></h3>
                        
                        <p>Convert more leads and close more deals with AI-powered automation.</p>
                    </div>
                    <a class="button" data-bs-toggle="modal" data-bs-target="#salesservices">Services <i class="bi-arrow-right"></i></a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="news_item shadow wow fadeInUp" data-wow-delay="200ms">
                    <div class="blog-img">
                        <a class="image" data-bs-toggle="modal" data-bs-target="#outreachservices">
                            <img src="images/gallery-11.jpg" alt="Latest News" class="img-responsive">
                        </a>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a data-bs-toggle="modal" data-bs-target="#outreachservices">📢 Outreach & Social Media Growth</a></h3>
                        
                        <p>Expand your reach with AI-driven content & automated outreach.</p>
                    </div>
                    <a class="button" data-bs-toggle="modal" data-bs-target="#outreachservices"> Services <i class="bi-arrow-right"></i></a>

                </div>
            </div>

        </div>
    
    </div>

</section>
<!--Services ends-->



<!-- Demo -->
<section id="portfolio" class="position-relative padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay="300ms">
                <div class="heading-title darkcolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor"> See Zeel's Automation in Action! </span>
                    <h2 class="font-normal darkcolor heading_space_half">  Demo </h2>
                </div>
                <div class="col-md-6 offset-md-3 heading_space_half">
                    <p>Check out our demo and discover how automation saves time, boosts conversions, and scales your operations effortlessly.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="mosaic-filter" class="cbp-l-filters bottom30 wow fadeIn text-center" data-wow-delay="350ms">
                    <div data-filter="*" class="cbp-filter-item">
                        <span>All</span>
                    </div>
                    <div data-filter=".digital" class="cbp-filter-item">
                        <span>Lead gen</span>
                    </div>
                    <div data-filter=".design" class="cbp-filter-item">
                        <span>Automations</span>
                    </div>
                    <div data-filter=".brand" class="cbp-filter-item">
                        <span>Database</span>
                    </div>
                    <div data-filter=".graphics" class="cbp-filter-item">
                        <span>Outreach</span>
                    </div>
                    <div data-filter=".graphics" class="cbp-filter-item">
                        <span>Chatbot</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="grid-mosaic" class="cbp cbp-l-grid-mosaic-flat">
                    <!--Item 1-->
                    <div class="cbp-item brand graphics">
                        <img src="images/searchexport.png" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="images/searchexport.png" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Company search Lead gen</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 2-->
                    <div class="cbp-item brand graphics design">
                        <img src="images/Screenshot (10).png" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="images/Screenshot (10).png" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Saved leads in googlesheet </h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 3-->
                    <div class="cbp-item design digital graphics">
                        <img src="images/chatbot1.PNG" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="images/chatbot1.PNG" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Chat bot</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 4-->
                    <div class="cbp-item brand graphics">
                        <img src="images/Screenshot (12).png" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="images/Screenshot (12).png" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">social medeia outreach automation</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 5-->
                    <div class="cbp-item graphics design design">
                        <img src="images/gallery-8.jpg" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="images/gallery-8.jpg" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Reading Content</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 6-->
                    <div class="cbp-item brand digital design">
                        <img src="images/chatbot3.PNG" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="images/gallery-9.jpg" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Customer Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!--Load more itema from another html file using ajax-->
                    <div id="js-loadMore-mosaic" class="cbp-l-loadMore-button ">
                        <a href="load-more.html" class="cbp-l-loadMore-link border-0 font-13 button gradient-btn whitecolor transition-3" rel="nofollow">
                            <span class="cbp-l-loadMore-defaultText">Load More (<span class="cbp-l-loadMore-loadItems">6</span>)</span>
                            <span class="cbp-l-loadMore-loadingText">Loading <i class="fas fa-spinner fa-spin"></i></span>
                            <span class="cbp-l-loadMore-noMoreLoading d-none">NO MORE WORKS</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Demo ends -->


<!--contact us-->
<section id="contact" class="position-relative padding_bottom_half">
    <div class="container whitebox padding_bottom_half">
        <div class="padding_top">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp mt-n3" data-wow-delay="300ms">
                    <span class="defaultcolor">Let's automate your business</span>
                    <div class="heading-title bottom25 darkcolor">
                        <h2 class="font-normal darkcolor"> Contact Us </h2>
                    </div>
                    <div class="col-md-6 offset-md-3 heading_space">
                        <p>Message our Customer Support on the botton left corner of the website to make inquries and book appointments in real time. Available to help you 24 hours a day, seven days week</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-2 text-center text-md-start">
                    <div class="contact-meta pl-0 pl-sm-5 wow fadeInRight" data-wow-delay="300ms">
                        <div class="heading-title heading_small">
                            <span class="defaultcolor mb-2">Zeel </span>
                            <h3 class="darkcolor font-normal">Automation Agency</h3>
                        </div>
                        <div class="my-3">
                            <p class="bottom10">+234 7054 373 342</p>
                            <p class="bottom10"><a href="mailto:zeelautomation@outlook.com">zeelautomation@outlook.com</a></p>
                            <p class="bottom10">Mon-Fri: 9am-5pm</p>
                        </div>
                        <ul class="social-icons no-border mb-4 mb-md-0 wow fadeInUp" data-wow-delay="300ms">
                            <li><a href="javascript:void(0)" class="facebook"><i class="bi-facebook"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="twitter"><i class="bi-twitter"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="linkedin"><i class="bi-linkedin"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="insta"><i class="bi-instagram"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="whatsapp"><i class="bi-whatsapp"></i> </a> </li>
                            <li><a href="javascript:void(0)"><i class="bi-envelope"></i> </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="heading-title  wow fadeInLeft" data-wow-delay="300ms">
                        <form class="getin_form" onsubmit="return false;">
                            <div class="row px-2">
                                <div class="col-md-12 col-sm-12" id="result1"></div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="name1" class="d-none"></label>
                                        <input class="form-control" id="name1" type="text" placeholder="Name" required="" name="userName">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="email" id="email1" placeholder="Email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="message1" class="d-none"></label>
                                        <textarea class="form-control" id="message1" placeholder="Message" required="" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <button type="submit" id="submit_btn1" class="button gradient-btn w-100">Send</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--contact us end-->


    
      
   
    



<!--Site Footer Here-->
<footer id="site-footer" class=" bgdark padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <a href="index.html" class="footer_logo bottom25"><img src="images/logo-transparent.png" alt="Zeel"></a>
                    <p class="whitecolor bottom25">Our mission is to eliminate manual work, optimize efficiency, and drive growth through intelligent automation.</p>
                    <div class="d-table w-100 address-item whitecolor bottom25">
                        <span class="d-table-cell align-middle"></span>
                        <p class="d-table-cell align-middle bottom0">
                            <i class="bi-telephone"></i> +234 - 7054 - 373 - 342 <a class="d-block" href="mailto:zeelautomation@outlook.com">zeelautomation@outlook.com</a>
                        </p>
                    </div>
                    <ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="javascript:void(0)" class="facebook"><i class="bi-facebook"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="twitter"><i class="bi-twitter"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="linkedin"><i class="bi-linkedin"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="insta"><i class="bi-whatsapp"></i> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="whitecolor bottom25">Business hours</h3>
                    <p class="whitecolor bottom25">Our support available to help you 24 hours a day, seven days week. Just message our assistant on the bottom left corner.</p>
                    <ul class="hours_links whitecolor">
                        <li><span>Monday- Friday:</span> <span>8.00-18.00</span></li>
                        <li><span>Saturday:</span> <span>09:00-12:00</span></li>
                        <li><span>Sunday:</span> <span>14:00-18:00</span></li>
                        <li><span>Customer Service:</span> <span>24-Hour Shift</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20 ps-0 ps-lg-5">
                    <h3 class="whitecolor bottom25">Navigation</h3>
                    <ul class="links">
                        <li><a href="#home" class="pagescroll">Home <i class="bi-house"></i></a></li>
                        <li><a href="#about" class="pagescroll scrollupto">About Us <i class="bi-search"></i></a></li>
                        <li><a href="#pricing" class="pagescroll">Our Pricing <i class="bi-money"></i></a></li>
                        <li><a href="#portfolio" class="pagescroll">Portfolio <i class="bi-folder"></i></a></li>
                        <li><a href="#blog" class="pagescroll">Automations <i class="bi-robot"></i></a></li>
                        <li><a href="#contact" class="pagescroll">Contact Us <i class="bi-file"></i></a></li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
</footer>
<!--Footer ends-->








   <!-- Modals -->

   <div class="modal fade" id="websiteservices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">🌐 Website & SEO Services</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">📈 Single-Page SEO Website</h5>
                      <div class="card-text">
                        <p>✅ Fully optimized for Google ranking</p>
                        <p>✅ Mobile-responsive & fast-loading</p>
                        <p>✅ 3-day delivery</p> <br>
                        <p>💰 $300 (one-time)</p>
                      </div>
                      <a href="#" class="btn btn-secondary">Get <i class="bi-arrow-right"></i> </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">🖥️ Multi-Page Website + AI Chatbot</h5>
                        <div class="card-text">
                          <p>✅ SEO-optimized website (5+ pages)</p>
                          <p>✅ AI chatbot for lead captureg</p>
                          <p>✅ Automated follow-up sequence</p> 
                          <p>💰 $99/month OR $800 one-time</p>
                        </div>
                        <a href="#" class="btn btn-secondary"> Get <i class="bi-arrow-right"></i></a>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Boost your online visibility! <i class="bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="salesservices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">🔗 Sales & Marketing Automation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">📅 AI Appointment Booking (Hands-free scheduling & follow-ups)</h5>
                      <div class="card-text">
                        <p>✅ AI chatbot + calendar integration</p>
                        <p>✅ Automated SMS & email reminders</p>
                        <p>✅ Reduce no-shows & increase bookings</p> <br>
                        <p>💰 $99/month OR $500 one-time setup</p>
                      </div>
                      <a href="#" class="btn btn-secondary"> Get <i class="bi-arrow-right"></i></a>

                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📍 Local SEO & Google My Business Optimization (Rank higher on local searches!)</h5>
                        <div class="card-text">
                          <p>✅ Google My Business setup & optimization</p>
                          <p>✅ Local keyword research & directory listings</p>
                          <p>✅ Ongoing updates for rankings</p> 
                          <p>💰 $300 one-time OR $50/month</p>
                        </div>
                        <a href="#" class="btn btn-secondary"> Get <i class="bi-arrow-right"></i></a>

                      </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">💰 Sales Funnel Automation (Turn visitors into customers!)</h5>
                          <div class="card-text">
                            <p>✅ High-converting landing pages</p>
                            <p>✅ Automated email sequences (upsells, abandoned cart)</p>
                            <p>✅ Facebook & Google retargeting setup</p> 
                            <p>💰 $500 one-time OR $150/month</p>
                          </div>
                          <a href="#" class="btn btn-secondary"> Get <i class="bi-arrow-right"></i></a>

                        </div>
                    </div>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Automate my Sales <i class="bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="outreachservices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">📢 Outreach & Social Media Growth</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">✉️ Cold Email & LinkedIn Outreach as a Service (Hands-free lead generation!)</h5>
                      <div class="card-text">
                        <p>✅ Fully managed outreach campaigns (copywriting + automation)</p>
                        <p>✅ A/B testing & optimization for high reply rates</p>
                        <p>✅ CRM integration for tracking lead</p> <br>
                        <p>💰 $300/month OR $800 for 3 months</p>
                      </div>
                      <a href="#" class="btn btn-secondary"> Get <i class="bi-arrow-right"></i></a>

                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">🤖 AI Content & Social Media Automation (Grow your brand on autopilot!)</h5>
                        <div class="card-text">
                          <p>✅ AI-generated blog posts & social media content</p>
                          <p>✅ Auto-scheduling & engagement tracking</p>
                          <p>✅ AI chatbot for Instagram/Facebook auto-replies</p> 
                          <p>💰 $250/month</p>
                        </div>
                        <a href="#" class="btn btn-secondary"> Get <i class="bi-arrow-right"></i></a>

                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Boost your Social Presence <i class="bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>





<!-- <div id="chatModal" style="overflow: hidden; display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; background: white; border: 1px solid #ccc; box-shadow: 0px 0px 10px rgba(0,0,0,0.3);">
    <button onclick="closeChat()" style="float: right;">X</button>
    <iframe src="https://www.chatbase.co/chatbot-iframe/kvtWvET1ENE-lj2xfQ89x" width="100%" height="100%" style="border:none;"></iframe>
</div> -->





<script>

const body = document.body;

    function openChat() {
        document.getElementById("chatModal").style.display = "block";
        body.classList.add("no-scroll");
    }
    
    function closeChat() {
        document.getElementById("chatModal").style.display = "none";
    }
    </script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.6.0.min.js"></script>
<!--Bootstrap Core-->
<script src="js/propper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--to view items on reach-->
<script src="js/jquery.appear.js"></script>
<!--Owl Slider-->
<script src="js/owl.carousel.min.js"></script>
<!--number counters-->
<script src="js/jquery-countTo.js"></script>
<!--Parallax Background-->
<script src="js/parallaxie.js"></script>
<!--Cubefolio Gallery-->
<script src="js/jquery.cubeportfolio.min.js"></script>
<!--Fancybox js-->
<script src="js/jquery.fancybox.min.js"></script>
<!--Tooltip js-->
<script src="js/tooltipster.min.js"></script>
<!--wow js-->
<script src="js/wow.js"></script>
<!--Revolution SLider-->
<script src="js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
<script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.video.min.js"></script>
<!--custom functions and script-->
<script src="js/functions.js"></script>


     <script>
        (function(){
            if(!window.chatbase||window.chatbase("getState")!=="initialized"){
                window.chatbase=(...arguments)=>{
                    if(!window.chatbase.q){
                        window.chatbase.q=[]
                    }
                        window.chatbase.q.push(arguments)
                    };
                    window.chatbase=new Proxy(window.chatbase,{get(target,prop){
                        if(prop==="q"){
                            return target.q
                        }
                        return(...args)=>target(prop,...args)}
                    })}
                    const onLoad=function(){
                        const script=document.createElement("script");
                        script.src="https://www.chatbase.co/embed.min.js";
                        script.id="kvtWvET1ENE-lj2xfQ89x";
                        script.domain="www.chatbase.co";
                        document.body.appendChild(script)
                    };
                    if(document.readyState==="complete"){
                        onLoad()}else{window.addEventListener("load",onLoad)}})();
        </script>
        
</body>
</html>